@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

@layer components {
  .btn {
    @apply normal-case btn-sm;
  }

  .btn-primary {
    @apply text-white;
  }

  .btn-secondary {
    @apply bg-transparent border-primary text-primary hover:bg-primary-content hover:border-primary;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}
