@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --primary: #036aa1;
  --text: #000;
}

@layer components {
  .btn {
    @apply normal-case btn-sm;
  }

  .btn-primary {
    @apply text-white bg-accent border-accent hover:bg-accent-focus hover:border-accent-focus;
  }

  .btn-secondary {
    @apply bg-transparent border-neutral-300 text-primary hover:bg-neutral-300/30 hover:border-neutral-300;
  }
}

:root {
  background-color: #e7e7fa;
}

body {
  color: #000;
  background-color: #fff;
}

@media (max-width: 699px) {
  body:has(.nav-open) {
    overflow: hidden;
  }
}

/* Background gradient */
.background-gradient {
  background-image: url('/45.webp'),
    linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  background-blend-mode: screen;
  background-size: cover;
}

/* Custom underline */
.custom-underline {
  position: relative;
  opacity: 0.9;
  transition: opacity 0.3s;
}

.custom-underline:hover {
  opacity: 1;
}

.custom-underline::after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 1.25px;
  width: 0%;
  left: 0;
  background-color: var(--text);
  transition: 0.3s ease all;
}

.custom-underline:hover::after {
  width: 100%;
}

.custom-underline:not(:hover):after {
  right: 0;
  left: auto;
}

.footer-underline::after {
  background-color: var(--text);
  height: 1px;
}
