@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --primary: #036aa1;
  --text: #000;
}

[data-theme='dark'] {
  --foreground-rgb: 255, 255, 255;
  --primary: #35bdfa;
  --text: #fff;
}

@layer components {
  .btn {
    @apply normal-case btn-sm;
  }

  .btn-primary {
    @apply text-white bg-accent border-accent hover:bg-accent-focus hover:border-accent-focus;
  }

  .btn-secondary {
    @apply bg-transparent border-neutral-300 text-primary hover:bg-neutral-300/30 hover:border-neutral-300;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@media (max-width: 699px) {
  body:has(.nav-open) {
    overflow: hidden;
  }
}

/* Custom underline */
.custom-underline {
  position: relative;
  opacity: 0.9;
  transition: opacity 0.3s;
}

.custom-underline:hover {
  opacity: 1;
}

.custom-underline::after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 1.25px;
  width: 0%;
  left: 0;
  background-color: var(--text);
  transition: 0.3s ease all;
}

.custom-underline:hover::after {
  width: 100%;
}

.custom-underline:not(:hover):after {
  right: 0;
  left: auto;
}

.footer-underline::after {
  background-color: #fff;
  height: 1px;
}
